In [2]:
def add():
  a,b=10,20
  print (a+b)
add()  #Function call

30

In [3]:
def add(a,b):
  print(a+b)
add(10,20)
add(50,50)

30
100

Positional arguments

In [4]:
def example(name,place):
  print(name.title()+" is a name")
  print(place.title()+" is a place")
example('ram','trivandrm')
example('trivandrm','ram')

Ram is a name
Trivandrm is a place
Trivandrm is a name
Ram is a place

keyword arguments

In [5]:
def example(name,place):
  print(name.title()+" is a name")
  print(place.title()+" is a place")
example(name='ram',place='trivandrum')
example(place='trivandrum',name='ram')

Ram is a name
Trivandrum is a place
Ram is a name
Trivandrum is a place

default values

In [6]:
def example(name,place='trivandrum'):
  print(name.title()+" is a name")
  print(place.title()+" is a place")
example(name='ram')

Ram is a name
Trivandrum is a place

return values

In [7]:
def large_num(a,b):
  if (a>b):
      return a
  else:
      return b
print("Larger number is :",large_num(2,3))

Larger number is : 3

Returning a dictionary

In [8]:
def build_person(first_name,last_name):
  """Return a dictionary of information about a person"""
  person ={'first':first_name,'last':last_name}
  return person
name=build_person('APJ Abdul','Kalam')
print (name)

{'first': 'APJ Abdul', 'last': 'Kalam'}

Passing a list

In [10]:
def greet_users(names):
  for name in names:
       msg="Hello,"+ name.title()+"!"
       print (msg)
usernames=['raj','ram','john']
greet_users(usernames)

Hello,Raj!
Hello,Ram!
Hello,John!

Passing an arbitrary number of arguments

In [11]:
def fruits(*fruit):
   print(fruit)
fruits('apple')
fruits('grapes','oranges','mango')

('apple',)
('grapes', 'oranges', 'mango')

Using Arbitrary keyword Arguments

In [12]:
def sample(first,last,**user_info):
    profile={}
    profile['first_name']=first
    profile['last_name']=last
    for key,value in user_info.items():
       profile[key]=value
    return profile
user_profile=sample('albert','einstein',location='princeton',field='physics')
print(user_profile)

{'first_name': 'albert', 'last_name': 'einstein', 'location': 'princeton', 'field': 'physics'}

lambda()

In [13]:
#without lambda 
def func(x):return x**3
print(func(5))

125

In [14]:
# with lambda
lamb=lambda x:x**3
print(lamb(5))

125

map()

In [15]:
#without map
items=[1,2,3,4,5]
squared=[]
for i in items:
  squared.append(i**2)
print(items,squared)

[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]

In [16]:
#with map
items=[1,2,3,4,5]
squared=list(map(lambda x:x**2,items))
print(items)
print(squared)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [17]:
def multiply(x):
  return(x*x)
def add(x):
  return(x+x)
funcs=[multiply,add]
for i in range(5):
   value=list(map(lambda x:x(i),funcs))
   print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

filter()

In [18]:
number_list=range(-5,5)
less_than_zero=list(filter(lambda x:x<0,number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]